homeassistant:
  name: KP Headquarters
  latitude: !secret latitude_home
  longitude: !secret longitude_home
  elevation: 291
  unit_system: imperial
  time_zone: America/New_York
  customize: !include customize.yaml


frontend:


config:


http:
  api_password: !secret http_password
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  # base_url: example.duckdns.org:8123


updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true


discovery:
  # ignore:
  #   - google_cast


media_extractor:


# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

sensor: !include sensors.yaml

# Text to speech
tts:
  - platform: google

# Cloud
# cloud:

remote:
  - platform: harmony
    name: Rec Room Harmony
    host: !secret rec_room_harmony_ip


hue:
  bridges:
    - host: !secret hue_ip

android_ip_webcam:
  - name: 'Front Yard'
    host: 192.168.86.60
    scan_interval: 1

wink:

climate:
  platform: wink

media_player: !include media_player.yaml
input_select: !include input_select.yaml
input_number: !include input_number.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
light: !include lights.yaml
